.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.loadingText {
  font-size: 24px;
  font-weight: 600;
  color: #1890ff;
  margin-bottom: 16px;
}

.loadingIcon {
  font-size: 48px;
  color: #1890ff;
}
